
.round-img {
    .round-img-wrapper {
        height: 240px;
        width: 240px;
        margin: 1rem auto;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        border-radius: 50%;
    }
}

.grey-bg-img {
    background-color: $light-grey;
    position: absolute;
    z-index: -1;
    top: 300px;
    left: calc(50% - 43%);
    height: 840px;
    width: 86%;
}