.casestudy-top-banner {
  position: relative;

  .casestudy-top-banner__block {
    // position: absolute;
    // left: 32px;
    // bottom: 40px;
  }
}

.GRO-logo {
  img {
    margin: auto;
  }
  span {
    text-align: center;
    width: 100%;
    font-size: 80px;
    font-weight: bold;
  }
}

.cs-img__block {
  position: relative;
  min-height: 600px;
  width: 100%;
  height: 100%;

  img.circle {
    height: 200px;
    width: 200px;
  }

  #circle1 {
    position: absolute;
    top: 25px;
    left: 95px;
  }

  #circle2 {
    position: absolute;
    left: 325px;
    top: 70px;
  }

  #circle3 {
    position: absolute;
    top: 250px;
    left: 170px;
  }
}
