.casestudy {
  .casestudy-top {
    margin: 1rem 3rem;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    .casestudy-top {
      background-image: none !important;
      margin: 1rem 0;
    }
  }

  // for iframe
  .embed_documentation_footer--documentationFooterLeft--rcexg {
    display: none !important;
    visibility: hidden !important;
  }

  .casestudy-top-banner {
    position: relative;

    .casestudy-top-banner__block {
      // position: absolute;
      // left: 32px;
      // bottom: 40px;
    }
  }

  .GRO-logo {
    img {
      margin: auto;
    }
    span {
      text-align: center;
      width: 100%;
      font-size: 80px;
      font-weight: bold;
    }
  }

  .cs-img__block {
    position: relative;
    min-height: 500px;
    width: 100%;
    height: 100%;

    img.circle {
      height: 200px;
      width: 200px;
    }

    #circle1 {
      position: absolute;
      top: 25px;
      left: 95px;
    }

    #circle2 {
      position: absolute;
      left: 325px;
      top: 70px;
    }

    #circle3 {
      position: absolute;
      top: 250px;
      left: 170px;
    }
  }

  // runr page
  // &--runr {

  // }
}

@media (max-width: 768px) {
  img.circle {
    display: block;
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    left: inherit !important;
    top: inherit !important;
    margin-bottom: 1rem;
  }
  // #circle1 {
  // }

  // #circle2 {
  //   position: relative !important;
  //   width: 100% !important;
  //   height: auto !important;
  //   left: 10px;
  // }

  // #circle3 {
  //   position: relative !important;
  //   width: 100% !important;
  //   height: auto !important;
  //   left: 10px;
  // }
}
