.dash {
  .dash-item {
    height: auto;
    min-height: 700px;
    transition: 0.5s all ease-in-out;

    a:hover {
      text-decoration: none;
    }

    &__bg {
      background-size: 100% auto;
      background-position: 50% 0%;
    }

    &__content {
      box-shadow: 3px 5px 10px -2px rgba(89, 89, 89, 0.65);
      position: relative;
      overflow: hidden;

      p.underline {
        font-weight: 500;

        span {
          position: relative;
        }
        span::before {
          content: "";
          position: absolute;
          height: 1px;
          width: 100%;
          left: 0;
          left: 0;
          z-index: 10;
          bottom: -3px;
          background-color: $dark;
          transition: all 0.3s ease-in-out;
          transform: scaleX(0);
          transform-origin: 0%;
          transition-delay: 0.1s;
        }
      }

      &.disabled {
        background-color: $black-transp;
      }

      // hover animations
      &:hover.animate,
      &:focus.animate {
        &::after {
          height: 630px;
          width: 630px;
          right: -40%;
          top: -30%;
        }
        .dash-item__content__img {
          height: 500px;
          right: 10%;
          top: -5%;
        }
        .dash-item__content__box__text {
          transform: translateY(-70px);
        }
        .dash-item__content__box__text__paragraph {
          opacity: 1;
        }
        span::before {
          transform: scaleX(1);
        }
        // .dash-item__content__box__text__header {
        //   transform: translateY(-75px);
        // }
      }
      // end animation

      &__img {
        transition: 0.7s all ease;
        position: absolute;
        right: 27%;
        top: 8%;
        height: 450px;
        z-index: -1;
      }

      &__box {
        position: relative;

        &__text {
          transition: 1s all ease;
          // min-height: 130px;
          &__header {
            transition: 1s all ease;
            position: absolute;
            top: 0;
            transform: translateY(30px);
            width: 100%;
          }

          &__paragraph {
            min-height: 84px;
            opacity: 0;
            transition: 1s all ease;
            transform: translateY(100px);
          }
        }
      }

      &::after {
        transition: 0.7s all ease;
        content: "";
        height: 350px;
        width: 350px;
        background-color: $primary;
        border-radius: 50%;
        position: absolute;
        right: 35%;
        top: 20%;
        z-index: -2;
      }

      &.--gro {
        &::after {
          background-color: rgba($color: $bright-green, $alpha: 0.8);
        }
      }

      &.--runr {
        &::after {
          background-color: rgba($color: $runr-blue, $alpha: 0.8);
        }
      }

      &.--ds {
        &::after {
          background-color: $grey;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
    .dash {
      .dash-item__content {
        padding: 1rem !important
      }
      .dash-item__content::after {
        right: 35% !important;
      }
      .dash-item__content__img {
        right: 35% !important;
      }
    }
    .dash .dash-item__content:hover.animate::after, .dash .dash-item__content:focus.animate::after {
      height: 630px;
      width: 630px;
      right: -65%;
      top: -30%;
  }
}

// @media (min-width: 576px) {
//   .dash {
//     .dash-item__content::after {
//       right: 35% !important;
//     }
//     .dash-item__content__img {
//       right: 35% !important;
//     }
//   }
// }

@media (max-width: 768px) {
  .dash {
    .dash-item__content::after {
      right: 30% !important;
    }
    .dash-item__content__img {
      right: 10% !important;
    }
  }
}

// @media (min-width: 992px) {
//   .dash {
//     .dash-item__content::after {
//       right: 35% !important;
//     }
//     .dash-item__content__img {
//       right: 27% !important;
//     }
//   }
// }
