.footer {
  height: 400px;
  overflow: hidden;

  a:hover,
  a:focus {
    text-decoration: none;
    opacity: 0.8;
  }

  .footer-list {
    a {
      color: $dark !important;
      line-height: 24px;
      transition: all 0.2s ease;

      &:hover {
        text-decoration: none;
        opacity: 0.8;
      }
    }

    &__title {
      //   max-width: 52px;
      margin-bottom: 1rem;
    }
  }
}
