.footer {
  height: 400px;
  overflow: hidden;

  .footer-list {
    a {
      color: #fff !important;
      line-height: 24px;
      transition: all 0.2s ease;

      &:hover {
        text-decoration: none;
        opacity: .8;
      }
    }

    &__title {
      //   max-width: 52px;
      margin-bottom: 1rem;
    }
  }


}
