.jumbotron-full {
  height: auto;
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 100% 100%;
}

.jumbotron {
  margin: 0;
  position: relative;

  &__chevron {
    // position: absolute;
    // bottom: 8px;
    // left: calc(50% - 30px);
    animation: bounce 3s;
    animation-delay: 3s;
    animation-iteration-count: 4;
  }
}

@media (max-width: 900px) {
  .jumbotron-full {
    background: $light;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
