.navbar {
  padding: 1rem 2rem;
  font-family: "Montserrat", sans-serif;

  &.navbar-light .navbar-toggler {
    color: $dark;
    border: none;
  }

  .nav-link {
    color: $dark !important;
    letter-spacing: 1px;
    text-align: right;
    font-weight: 500;
  }

  .navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1rem;
  }

  .navbar-right {
    margin-left: auto;
  }

  .navbar-message {
    color: #fff;
    float: right;
  }
}

.navbar.navbar-white {
  color: $dark;

  a {
    color: $dark;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $light;
}

@media (min-width: 768px) {
  .navbar .navbar-brand {
    font-size: 24px;
    font-size: bold;
  }
}
