.navbar {
  padding: 1rem 2rem;

  &.navbar-light .navbar-toggler {
    color: $dark;
    border: none;
  }

  .nav-link {
    text-transform: uppercase;
    color: $dark;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    text-align: right;
  }

  .navbar-brand {
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 1rem;
  }

  .navbar-right {
    margin-left: auto;
  }

  .navbar-message {
    color: #fff;
    float: right;
  }
}

.navbar.navbar-white {
  color: $dark !important;

  a {
    color: $dark !important;
  }
}

@media (min-width: 768px) {
  .navbar .navbar-brand {
    font-size: 24px;
    font-size: bold;
  }
}
