.timeline {
  & .timeline__line {
    background-color: $primary;
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(50% - 2px);
    z-index: 10;
  }

  &__box {
    position: relative;

    &__arrow {
      border-color: $primary;
      &--left {
        width: 0;
        height: 0;
        position: absolute;
        right: 0;
        top: 65px;
        border-top: 10px solid transparent;
        border-right: 20px solid $primary;
        border-bottom: 10px solid transparent;
      }

      &--right {
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        top: 65px;
        border-top: 10px solid transparent;
        border-left: 20px solid $primary;
        border-bottom: 10px solid transparent;
      }
    }
  }
}

@media (max-width: 768px) {
  .timeline__line {
    z-index: 0 !important;
    background-color: rgba($color: $primary, $alpha: 0.1) !important;
  }
  .grid-item--title {
    text-align: center !important;
    background-color: $white;
  }
  // .grid-item {
  // }
}

// .grid-sizer {
// width: 50%;
// }
// .gutter-sizer {
//   width: 5%;
// }
.grid-item {
  // width: 50%;
  transition: 0.3s ease;
}
.grid-item--width2 {
  width: 400px;
}
.grid-item--width50 {
  width: 50%;
}
