@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Old+Standard+TT|Raleway&display=swap');
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./scss/variables";
@import "./scss//sidebar";
@import "./scss//blogs";
@import "./scss/navbar";
@import "./scss/jumbotron";
@import "./scss/home";

body {
  background: $light-grey;
  font-family: "Old Standard TT", sans-serif;
  & p {
    font-family: "Raleway", sans-serif;
  }
}

.row {
  margin: 0;
}
